
body {
  margin: auto;
  text-align: center;
}

.delete-item-button {
  width: 80px;
  background-color: orange;
  display: inline;
}

.update-item-button {
  width: 80px;
  background-color: green;
  display: inline;
}